{% extends 'base.html.twig' %}

{% block menu %}

{% endblock %}

{% block body %}
    <a href="/home">Homepage</a>
    <h1>Info</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque deleniti distinctio ducimus, ea, eius esse expedita, fugit nam neque quasi quo
        ratione voluptates? Ducimus eligendi facilis tenetur unde voluptas!</p>
{% endblock %}
